.client_section {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.heading_container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #573b8a;
    font-family: 'Jost', sans-serif;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Jost', sans-serif;
    text-align: left;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #573b8a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #573b8a;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.action-btn {
    padding: 8px 12px;
    background-color: #573b8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #6d44b8;
}
.custom-input {
    width: 100%; /* Full width of the container */
    max-width: 300px; /* Adjust the max-width as needed */
    padding: 8px; /* Padding inside the input */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Shadow for a subtle 3D effect */
    font-size: 14px; /* Font size */
  }
  

  